* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #222;
    color: #fff;
    font-family: system-ui;
}

.crud {
    width: 80%;
    margin: auto;
    margin-bottom: 5rem;
}

.head {
    text-align: center;
    text-transform: uppercase;
    margin: 20px 0;
}

.head h1 {
    font-size: 2.5rem;
}

.head p {
    font-size: 1.2rem;
}

input {
    width: 100%;
    height: 40px;
    background: #111;
    color: #fff;
    padding: 10px;
    margin: 10px 0;
    border: none;
    outline: none;
    border-radius: 5px;
    transition: all 0.3s ease;
}

input:focus {
    border: 1px solid #fff;
    background: #000;
    transform: scale(1.01);
}

.price {
    display: flex;
    align-items: center;
    gap: 15px;
}

.price input { width: 20%; }

#total {
    background: #7901b0;
    color: #fff;
    padding: 10px;
    margin: 10px 0;
    border: none;
    outline: none;
    border-radius: 5px;
    font-weight: 600;
}

#total::before { content: 'Total: '; }

button {
    width: 100%;
    height: 40px;
    background: #7901b0;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background: #5f00a0;
    letter-spacing: 1px;
}

.btnSearch {
    display: flex;
    justify-content: space-between;
}

.btnSearch button { width: 48%; }

#deleteAll { margin: 20px 0; }

table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    margin: 20px 0;
}

table th {
    text-transform: uppercase;
    background: #7901b0;
    color: #fff;
}

th, td { padding: 10px ; }   

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    color: #000;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 15px;
    width: 50%;
}

.modal-content p {
    text-align: center;
    margin-bottom: 20px;
}

.modal-content button {
    margin-bottom: 5px;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 35px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}